# ========= wheel ===========
wheel==0.33.4

# ========= robotframework ==========================
robotframework==3.1.1

# ========= robotframework-ride =====================
robotframework_ride==1.7.4a1

# ========== robotframework-selenium2library ========
robotframework-selenium2library==3.0.0
robotframework_seleniumlibrary==3.3.1



