# ========= wheel ===========
wheel==0.34.2

# ========= robotframework ==========================
robotframework==3.2.1

# ========= robotframework-ride =====================
robotframework_ride==1.7.4.2

# ========== robotframework-seleniumlibrary ========
robotframework_seleniumlibrary==4.5.0



